.skill-container {
	text-align: center;
	clear: both;
}

ul {
	list-style: none;
}

.columns {
	text-align: center;
}

.sub-headings {
	text-align: center;
	padding-top: 15px
	padding-bottom: 15px
}

.darth-vader-content {
	text-align: left;
}

.row {
	text-align: center;
}

. About Heading